@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Space+Mono:wght@400;700&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
}
/* Universal styles */
.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 10px 20px;
}

/* nav {
  max-width: 1300px;
  margin: 0 auto;
} */
ul {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}

header {
  max-width: 1300px;
  margin: 0 auto;
}
/* nav section */

.nav_container {
  display: flex;
  align-items: center;
  height: 8rem;
}
.nav_title {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav_title h1 span {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav_title svg,
.items ul svg {
  vertical-align: middle;
}
.items {
  width: 50%;
}
#follow_us_btn {
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.06rem 1.5rem;
}
.items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items ul li a {
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

/* Banner Section start */
.banner_section {
  background: url('./images/Group\ 14.png');
}
.banner_container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}
.banner_container .banner_img img {
  width: 100%;
}
.banner_content,
.banner_img {
  width: 50%;
}
.banner_content_container {
  background-image: url('./images/Group\ 14.png');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 80vh;
}
.banner_content {
  width: 60%;
}
.banner_content h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner_content h2 {
  font-size: 5.9375rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner_content p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.banner_content .btn-primary {
  margin-top: 2rem;
}
.banner_content .blue {
  background: #4ec5f7;
  margin-left: 1rem;
}

/* VIdeo games */
.funny_videos_container {
  max-width: 1300px;
  margin: 2rem auto;
}
.games_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.funny_video_title {
  text-align: center;
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
}
.funny_video_title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.funny_video_desc {
  color: #534c64;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.875rem; /* 166.667% */
}
.game_card_text {
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.875rem; /* 150% */
  margin-top: 1.2rem;
}
.game_card img {
  width: 100%;
}
.game_card {
  margin-top: 2rem;
}

/* Offer section */
.offer_section_container {
  max-width: 1300px;
  margin: 0 auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offer_content_container {
  display: flex;
  justify-content: center;
}
.offer_img img {
  width: 30rem;
}
.offer_content {
  /* border: 2px solid tomato; */
  width: 50%;
  height: 50%;
}
.offer_title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.75rem; /* 125% */
}
.offer_title span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.offer_desc {
  color: #534c64;
  font-size: 1.125rem;
  line-height: 1.875rem; /* 166.667% */
}
.offer_img{
    position: relative;
}
.offer_img .position_mouse{
    position: absolute;
    width: 12rem;
    height: 12rem;
    border: 5px solid white;
    border-radius: 0.5rem;
    background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
    bottom: -20%;
    right: -20%;
}


/* ---------------------------------------------- */

/* MEDIA QUERY  */

@media screen and (max-width: 576px) {
  /* nav section */
  .nav_container {
    flex-direction: column;
    margin-top: 2rem;
  }
  nav {
    width: 100%;
  }

  .nav_title {
    width: 100%;
    justify-content: center;
  }
  .items {
    width: 100%;
  }

  .items ul {
    flex-direction: column;
  }
  .items ul li {
    margin-top: 2rem;
  }

  /* banner section */
  .banner_container {
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
    margin-top: 10rem;
    height: auto;
  }
  .banner_container .banner_img img {
    width: 100%;
  }
  .banner_img {
    width: 100%;
  }
  .banner_content {
    margin: 3rem;
    width: 80%;
    /* border: 1px solid teal; */
    margin-bottom: 3rem;
  }
  .banner_content h3 {
    font-size: 2.5rem;
  }
  .banner_content h2 {
    font-size: 4rem;
  }
  /* funny videos */
  .games_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    margin-bottom: 10rem;
  }
  .game_card img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  .game_card_text {
    text-align: center;
  }
  .funny_video_title {
    font-size: 1.7rem;
  }
  .funny_video_desc {
    font-size: 0.765rem; /* 166.667% */
  }
  /* offer section */
  .offer_section_container {
    flex-direction: column-reverse;
  }
  .offer_img img {
    width: 20rem;
  }
  .offer_img .position_mouse{
    width: 9rem;
    height: 9rem;
}
.offer_desc {
    margin-bottom: 2rem;
  }
  .offer_content_container {
    text-align: center;
  }
  .offer_title {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 3.75rem; /* 125% */
  }
  .offer_content {
    width: 60%;
  }
}
