@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Space+Mono:wght@400;700&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
}
/* Universal styles */
.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 10px 20px;
}

/* nav {
  max-width: 1300px;
  margin: 0 auto;
} */
ul {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}

header {
  max-width: 1300px;
  margin: 0 auto;
}
/* nav section */

.nav_container {
  display: flex;
  align-items: center;
  height: 8rem;
}
.nav_title {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
}
/* .nav_title h1 span{
    background: linear-gradient(#FF42A5 0%, #FF42A5 100%);
    color: transparent;
    background-clip: text;
} */
.nav_title svg,
.items ul svg {
  vertical-align: middle;
}
.items {
  width: 50%;
}
#follow_us_btn {
  border-radius: 0.5rem;
  background: rgba(11, 2, 35, 0.1);
  padding: 1.06rem 1.5rem;
}
.items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items ul li a {
  color: #3c354f;
  font-size: 1.125rem;
  font-weight: 500;
}

/* Banner Section start */
.banner_section {
    background: url('./images/Group\ 14.png');
}
.banner_container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}
.banner_container .banner_img img {
  width: 100%;
}
.banner_content,
.banner_img {
  width: 50%;
}
.banner_content_container {
  background-image: url('./images/Group\ 14.png');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 80vh;
}
.banner_content {
  width: 60%;
}
.banner_content h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner_content h2 {
  font-size: 5.9375rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.banner_content p {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
}
.banner_content .btn-primary {
  margin-top: 2rem;
}
.banner_content .blue {
  background: #4ec5f7;
  margin-left: 1rem;
}

/* ---------------------------------------------- */

/* MEDIA QUERY  */

@media screen and (max-width: 576px) {
  /* nav section */
  .nav_container {
    flex-direction: column;
    margin-top: 2rem;
  }
  nav {
    width: 100%;
  }

  .nav_title {
    width: 100%;
    justify-content: center;
  }
  .items {
    width: 100%;
  }

  .items ul {
    flex-direction: column;
  }
  .items ul li {
    margin-top: 2rem;
  }

  /* banner section */
  .banner_container {
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
    margin-top: 10rem;
    height: auto;
  }
  .banner_container .banner_img img {
    width: 100%;
  }
  .banner_img {
    width: 100%;
  }
  .banner_content {
    margin: 3rem;
    width: 80%;
    /* border: 1px solid teal; */
    margin-bottom: 3rem;
  }
  .banner_content h3 {
    font-size: 2.5rem;
  }
  .banner_content h2 {
    font-size: 4rem;
  }
}
